:root {
    --margin-of-main-parts: 197px;
    --banner-height: 617px;
    --logo-top-margin: 30px;
    --logo-bottom-margin: 33px;
    --logo-line-height: 32px;
    --header-height: calc(var(--logo-top-margin) + var(--logo-bottom-margin) + var(--logo-line-height));
  }
  
  html {
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }
  
  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    width: 542px;
    text-transform: uppercase;
    margin: 35px 0;
  }
  
  h2 {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    width: 260px;
    margin: 0;
  }
  
  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0;
  }
  
  h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 450px;
    margin: 35px 0;
  }
  
  h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #96BB7C;
    margin: 89px 0 auto;
  }
  
  p {
    font-family: 'Montserrat';
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
  }

  a{
    font-family: 'Montserrat';
  }

  span{
    font-family: 'Montserrat';
  }